@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #136DEC;
  --secondary-color: #F07D13;
  --background-color: #F6F7F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
